






@media screen and (max-width: 991px) {
 
    .nav-toggler {
        display: block;
    }

    .site-navbar {
        min-height: 60px;
        justify-content: space-between;
        
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 0px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #444;
        background-color: rgb(0 0 0 / 85%);
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }

    .site-navbar ul li {
        width: 100%;
        text-align: center;
    }

  .site-navbar ul li a {
      margin-top: 62%;
      padding-top: 13%;
      width: 50%;
      margin: auto;
  }

    .site-navbar ul li a:hover {
        background-color: rgba(255, 255, 255, .1);
    }

    .site-navbar ul.open {
        top: -1px;
        max-height: 100vh;
        overflow: visible;
    }

    .intro-area h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }



        .fa-solid,
        .fas {
            font-weight: 900;
            display: none;
        }

}



@media screen and (max-width: 552px){
    .top-bar p{
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 1021px) {
    .hero .wrapper .hero-content h1 {
            font-size: 4.5rem;
            margin-bottom: 6%;
            margin-bottom: 20px;
        }


}



@media screen and (max-width: 1080px) {
    .section-4 .wrapper .item-1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px;
        }
    
        .section-4 .wrapper .item-1 .img-1 img {
            margin-bottom: 0;
        }
    
        .section-4 .wrapper .item-1 .img-1 h2 {
            font-weight: 600;
        }
    
        .section-4 .wrapper .item-1 .img-2 {
            margin-top: 0;
        }
    
        .section-4 .wrapper .item-1 .img-2 img {
            margin-bottom: 0;
        }
    
        .section-4 .wrapper .item-1 .img-2 h2 {
            font-weight: 600;
        }
    
        .section-4 .wrapper .item-2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px;
        }
    
        .section-4 .wrapper .item-2 .img-3 {
            margin-left: 0;
        }
    
        .section-4 .wrapper .item-2 .img-3 img {
            margin-bottom: 0;
        }
    
        .section-4 .wrapper .item-2 .img-3 h2 {
            font-weight: 600;
        }
    
        .section-4 .wrapper .item-2 .img-4 {
            margin-top: 0;
            margin-left: 0;
        }
    
        .section-4 .wrapper .item-2 .img-4 img {
            margin-bottom: 0;
        }
    
        .section-4 .wrapper .item-2 .img-4 h2 {
            font-weight: 600;
        }

}


@media screen and (max-width: 829px){
        .hero .wrapper .hero-content h1 {
                font-size: 3rem;
                margin-bottom: 6%;
                margin-bottom: 20px;
            }
                        .hero .wrapper .hero-content p {
                            font-size: 1rem;
                        }
                        .section-5 {
                            margin-top: 50px;
                            margin-bottom: 50px;
                            display: grid;
                            grid-template-columns: repeat(1, 1fr);
                        }
                                                .container {
                                                    margin: 0 auto;
                                                    padding: 4rem;
                                                    width: 30rem;
                                                }

}

@media screen and (max-width: 1172px) {
    .section-6 .wrapper .item-1 {
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
           
        }
                .section-6 .wrapper .item-2 {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    
                    
                }


}


@media screen and (max-width: 792px) {
    .section-4 .wrapper .item-1 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 100px;
        }
          .section-4 .wrapper .item-2 {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 100px;
          }
            .section-7 .wrapper {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
             }
                         .section-7 .wrapper .service {
                             color: black;
                             padding-right: 0;
                         }
                                                 .section-6 .wrapper .item-1 .img-1 {
                                                     color: black;
                                                     padding-right: 0;
                                                 }


                                                 .section-6 .wrapper .item-2 .img-4 {
                                                     color: black;
                                                     padding-left: 0;
                                                 }

                 footer .wrapper {
                     display: grid;
                     grid-template-columns: repeat(1, 1fr);
                 }


                             .hero .wrapper .hero-content h1 .last {
                                 padding-left: 0;
                             }
                             .hero .wrapper .hero-content h1 .first {
                                 padding-right: 0;
                             }


               .section-5 .counter-section .wrapper .counter-parent {
                   display: grid;
                   gap: 30px;
                   grid-template-columns: repeat(1, 1fr);
                   align-items: center;
                   justify-content: center;
                   text-align: center;
               }


}





@media screen and (max-width: 448px) {
    .container {
            margin: 0 auto;
            padding: 4rem;
            width: 20rem;
        }
                .hero .wrapper .hero-content h1 .last {
                    padding-left: 0;
                }
                                  .hero .wrapper .hero-content h1 .first {
                                      padding-right: 0;
                                  }
}



@media screen and (max-width: 320px) {
            .hero .wrapper .hero-content h1 {
                    font-size: 2rem;
                    margin-bottom: 6%;
                    margin-bottom: 20px;
                }
                                .hero .wrapper .hero-content p {
                                    font-size: 1.4rem;
                                    padding-left: 0%;
                                    padding-top: 6%;
                                }
                                .hero{
                                    height: 400px;
                                }


}